<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androi="http://schemas.android.com/apk/distribution"
    package="com.example.mytimetable">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Faculty_Info"></activity>
        <activity android:name=".College_Calendar" />
        <activity android:name=".Syllabus" />
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".friday" />
        <activity android:name=".thursday" />
        <activity android:name=".wednesday" />
        <activity android:name=".tuesday" />
        <activity android:name=".monday" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>